@model IEnumerable<ToDo>

<div class="row">
    <div class="col-md-2">
        <form asp-action="Filter" method="post">
            <div class="mb-3">
                <label class="form-label">Kategori</label>
                <select name="filter" class="form-select"
                        asp-items="@(new SelectList(ViewBag.Categories,"CategoryId","Name", ViewBag.Filters.CategoryId))">
                    <option value="all">Tümü</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Zaman:</label>
                <select name="filter" class="form-select"
                        asp-items="@(new SelectList(ViewBag.DueFilters,"Key","Value", ViewBag.Filters.Due))">
                    <option value="all">Tümü</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Durum:</label>
                <select name="filter" class="form-select"
                        asp-items="@(new SelectList(ViewBag.Statuses,"StatusId", "Name", ViewBag.Filters.StatusId))">
                    <option value="all">Tümü</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success">Filtrele</button>
            <a asp-action="Index" asp-route-itemid="" class="btn btn-success">Temizle</a>
        </form>
    </div>
    <div class="col-md-10">
        <form asp-action="MarkComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
            <table class="table table-borderd table-striped mt-2">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Kategori</th>
                        <th>Tarih</th>
                        <th>Durum</th>
                        <th class="w-25"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ToDo task in Model)
                    {
                        string overdue = task.Overdue ? "bg-warning" : "";
                        <tr>
                            <td>@task.Description</td>
                            <td>@task.Category.Name</td>
                            <td class="@overdue">@task.DueDate?.ToShortDateString()</td>
                            <td class="@overdue">@task.Status.Name</td>
                            <td>
                                @if (task.StatusId == "open")
                                {
                                    <button type="submit" class="btn btn-success btn-sm"
                                            name="@nameof(ToDo.Id)" value="@task.Id">
                                        Tamamlandı
                                    </button>


                                }
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </form>
        <form asp-action="DeleteComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
            <a asp-action="Add" class="btn btn-success">Yeni Bir Görev Ekle</a>
            <button type="submit" class="btn btn-success">Görevi Sil </button>
        </form>
    </div>
</div>  